# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS metadata
.DS_Store

# Virtual environments
.venv/
env/
venv/

# VSCode
.vscode/

# Raw and processed data folders
data/raw/
data/processed/

# Logs and temporary outputs
*.log

# Secrets or environment files
.env

